*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Arial';  
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12); 
    max-width: 250px;
    background: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .card h1{
    margin-bottom: 20px;
  }
  
  .btn{
    border: none;
    background: purple;
    color: rgb(18, 8, 8);
    padding: 15px 20px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
  }
  
  .card label{
    display: block;
    margin-bottom: 6px;
  }
  
  .card input{
    margin-bottom: 20px;
    padding: 8px 10px;
  }
  
  .card button{
    background: #FCFB5B;
    border-color: rgb(0, 0, 0);
    padding: 8px 10px;
    cursor: pointer;
  }